
/*GENERAL*/
/*Shortcuts for using colors*/
:root{
    --headercolor : #db5c36;
    --linkcolor : #e79177;
    --linkcolorHover: #e96a44;
    --linkcolorVisited : #e7a077;
    --backgroundcolorLight : #d8d8d8;
    --backgroundcolorDark : #7372726d;
    --textcolorBlack : black;
    --textcolorWhite : white;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
}

/*Global settings*/

/*Defines font family for entire site*/
@font-face {
    font-family: 'QuickSand';
    src: url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap);
}

/*#region NAVBAR*/

.navbar{
    transition: all 3.0s;
}

/*navbar style when scroling down*/
.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0,  0,  0,  0.15);

}

/*Text color of navbar main text*/
  #navbarHeader{
    color: var(--headercolor);
    font-weight: var(--fontWeightBold);
}

/*nav-link general*/
.navbar-custom .navbar-nav .nav-link{
    color:var(--linkcolor);
}

/*nav-links active*/
.navbar-custom .nav-item .nav-link.active{
    color:var(--linkcolor);
    font-weight: var(--fontWeightMedium);
}

/*nav-links visited*/
.navbar-custom .nav-item .nav-link:visited{
  color:var(--linkcolorVisited);
  font-weight: var(--fontWeightMedium);
}

/*nav-links hover inactive*/
.navbar-custom .nav-item:hover .nav-link{
    color:var(--linkcolorHover);
    font-weight: var(--fontWeightMedium);
}

/*nav-links hover active*/
.navbar-custom .nav-item:hover .nav-link.active{
    color:var(--linkcolorHover);
    font-weight: var(--fontWeightBold);
}
/*#endregion NAVBAR*/

/*#region HEADER*/
/*background color*/
.py-5.text-center.container{
  height: 60vh; 
  min-height: 350px;
  background-color: var(--backgroundcolorDark);
}

/*header color*/
.py-5.text-center.container .row.py-lg-5 .col-lg-6.col-md-8.mx-auto.my-4 .heading{
  color:var(--headercolor);
  font-weight: var(--fontWeightBold);
}

/*lead color*/
.py-5.text-center.container .row.py-lg-5 .col-lg-6.col-md-8.mx-auto.my-4 .lead{
  color:var(--textcolorWhite);
  font-weight: var(--fontWeightSemiBold);
}

/*carousel styling*/
.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption{
    font-weight: var(--fontWeightSemiBold);
    font-size:x-large;
    color:var(--headercolor);
  }
/*#endregion HEADER*/

/*#region BODY*/
/*container fade experience & excellence*/
.bg-dark .fade-container-1 .animated, .bg-dark .fade-container-2 .animated{
  height: 20vh;
  min-height: 50px;

}

/*container offer*/
.py-5.bg-dark .container.container-offer{
  height: 100vh;
  min-height: 350px;

}

/*ul*/
.py-5.bg-dark .container ul.offer-list {
  background-color: var(--backgroundcolorLight);
}


/*#region FadeIn functions*/
/*FadeInRight*/
.bg-dark .fade-container-2 .fadeInLeft{
  -webkit-animation: fadeInLeft 1.2s both;
  -moz-animation: fadeInLeft 1.2s both;
  -o-animation: fadeInLeft 1.2s both;
  animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft{
0%{
  opacity: 0;
  -webkit-transform: translateX(-100px);
}
100%{
  opacity: 1;
  -webkit-transform: translateX(0);
}
}
@-moz-keyframes fadeInLeft{
  0%{
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft{
  0%{
    opacity: 0;
    -o-transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/*FadeInRight*/
.bg-dark .fade-container-1 .fadeInRight{
  -webkit-animation: fadeInRight 1.2s both;
  -moz-animation: fadeInRight 1.2s both;
  -o-animation: fadeInRight 1.2s both;
  animation: fadeInRight 1.2s both;
}

@-webkit-keyframes fadeInRight{
0%{
  opacity: 0;
  -webkit-transform: translateX(100px);
}
100%{
  opacity: 1;
  -webkit-transform: translateX(0);
}
}
@-moz-keyframes fadeInRight{
  0%{
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  100%{
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight{
  0%{
    opacity: 0;
    -o-transform: translateX(100px);
  }
  100%{
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
/*#endregion FadeIn function*/

/*images in photo album*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/*#endregion BODY*/

/*#region FOOTER*/
/*IG text*/
.bg-dark.py-5 .container.text-light.text-center .mb-3.p-2.instaText{
    color: #ac2bac; 
    font-weight: var(--fontWeightBold); 
  }

/*#endregion FOOTER*/

/*#region MEDIA*/
/*Changes font size on window resize*/
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}


/*#endregion MEDIA*/

/* :: 7.0 Events Area CSS */
.single-event-area {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-event-area img {
    width: 100%; }
  .single-event-area .event-text {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 30px 15px;
    background-color: #000;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    .single-event-area .event-text h4 {
      color: #fff;
      text-transform: uppercase;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-event-area .event-text .event-meta-data {
      position: relative;
      margin-bottom: 30px; }
      .single-event-area .event-text .event-meta-data a {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        display: inline-block;
        padding-right: 29px; }
        .single-event-area .event-text .event-meta-data a:first-child::after {
          position: absolute;
          content: '|';
          top: 0;
          right: 12px;
          z-index: 1; }
        .single-event-area .event-text .event-meta-data a:last-child {
          padding-right: 0; }
    .single-event-area .event-text .see-more-btn {
      font-size: 11px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 10px;
      border-bottom: 1px solid #fff;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0; }
      .single-event-area .event-text .see-more-btn:hover, .single-event-area .event-text .see-more-btn:focus {
        font-weight: 400; }
  .single-event-area:hover, .single-event-area:focus {
    box-shadow: 0 5px 80px 0 rgba(0, 0, 0, 0.2); }
    .single-event-area:hover .event-text, .single-event-area:focus .event-text {
      background-color: #f5f9fa; }
      .single-event-area:hover .event-text h4,
      .single-event-area:hover .event-text .event-meta-data a, .single-event-area:focus .event-text h4,
      .single-event-area:focus .event-text .event-meta-data a {
        color: #000000; }
      .single-event-area:hover .event-text .see-more-btn, .single-event-area:focus .event-text .see-more-btn {
        border-bottom-color: #000000;
        color: #000000; }

/* :: 9.0 Album Catagory Area CSS */
.featured-artist-area {
  position: relative;
  z-index: 1;
  background-image: url("background-featured.png");}

.featured-artist-content {
  position: relative;
  z-index: 1;
  color: #db5c36; }
  
  .featured-artist-content p {
    color: #000; }

/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  text-align: center;
  color:#db5c36; }
  .section-heading p {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-fixed {
  background-attachment: fixed !important; }

/* :: 18.0 Contact Area CSS */
.contact-content {
  position: relative;
  z-index: 2; }
  .contact-content .contact-social-info a {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    color: #000000; }
    .contact-content .contact-social-info a:hover, .contact-content .contact-social-info a:focus {
      color: #232323; }
  .contact-content .single-contact-info {
    position: relative;
    margin-bottom: 20px; }
    .contact-content .single-contact-info:last-child {
      margin-bottom: 0; }
    .contact-content .single-contact-info p {
      font-size: 15px;
      margin-bottom: 0;
      margin-left: 5px; }
    .contact-content .single-contact-info .icon {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
      flex: 0 0 35px;
      max-width: 35px;
      width: 35px;
      height: 35px;
      border: 1px solid #000;
      text-align: center; }
      .contact-content .single-contact-info .icon span {
        font-size: 20px;
        line-height: 33px; }

.contact-form-area .form-control {
  position: relative;
  z-index: 2;
  height: 45px;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 0;
  padding: 15px 0;
  font-style: italic;
  color: #b3b3b3;
  border-bottom: 1px solid #000000;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .contact-form-area .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #000000; }
.contact-form-area textarea.form-control {
  height: 160px; }

.has-bg-img {
  position: relative;
  z-index: 1;
  background-image: url("contact-background.png"); }
  .has-bg-img .contact-form-area .form-control {
    color: #fff;
    border-bottom: 1px solid #fff; }
    .has-bg-img .contact-form-area .form-control:focus {
      border-bottom: 1px solid #fff; }
  .has-bg-img .oneMusic-btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff; }
    .has-bg-img .oneMusic-btn:hover, .has-bg-img .oneMusic-btn:focus {
      background-color: #fff;
      color: #000000; }

.map-area {
  position: relative;
  z-index: 2; }
  .map-area iframe {
    width: 100%;
    height: 385px;
    border: none;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .map-area iframe {
        height: 300px; } }

/* :: 15.0 Breadcumb Area CSS */
.breadcumb-area {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 385px; }
  @media only screen and (max-width: 767px) {
    .breadcumb-area {
      height: 270px; } }
  .breadcumb-area .bradcumbContent {
    position: absolute;
    background-color: #fff;
    width: 552px;
    bottom: 0;
    left: 50%;
    z-index: 100;
    text-align: center;
    padding-top: 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .bradcumbContent {
        width: calc(100% - 60px);
        padding-top: 30px; } }
    .breadcumb-area .bradcumbContent p {
      line-height: 1.5;
      font-size: 16px;
      color: #5f5f5f; }
    .breadcumb-area .bradcumbContent h2 {
      font-size: 30px;
      letter-spacing: 10px;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 0; }
      @media only screen and (max-width: 767px) {
        .breadcumb-area .bradcumbContent h2 {
          font-size: 18px;
          letter-spacing: 5px; } }

.card{
  border-radius: 4px;
  background: #7372726d;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
        
  .card:hover{
  transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
        
  .card h3{
          font-weight: 400;
          font-size: x-large;
          color: #db5c36;
  }
        
  .card img{
          position: absolute;
          top: 20px;
          right: 15px;
          max-height: 120px;
  }
        
  .card-1{
          background-image: url("");
              background-repeat: no-repeat;
            background-position: right;
            background-size: 80px;
          
  }
        
  .card-2{
           background-image: url("");
              background-repeat: no-repeat;
            background-position: right;
            background-size: 80px;
          
  }
        
  .card-3{
           background-image: url();
              background-repeat: no-repeat;
            background-position: right;
            background-size: 80px;
          
  }

  .card-4{
          background-image: url();
             background-repeat: no-repeat;
           background-position: right;
           background-size: 80px;
          margin: 20px 0px 0px 0px;
  }

  .card-5{
        background-image: url();
           background-repeat: no-repeat;
         background-position: right;
         background-size: 80px;
        margin: 20px 0px 0px 0px;
  }
        
        @media(max-width: 990px){
          .card{
            margin: 20px;
          }
} 

.img-kidos{
  border-radius: 3px; 
  margin-left: 100px; 
  margin-bottom:20px;
  box-shadow: black;
  /*adjusting aspect ratio*/
  height: 30vh;
  width: 45vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

