/*Style sheet to adjust website appearance */


/*color palletes TODO: Update colors*/
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: black;
}
/*general body style */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 1.6em;
    background-repeat: no-repeat;
    background-size: cover;
}
/*container style*/
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
/*h1 header style */
#header{
    font-size: 28px;
    line-height: 1.6em;
    margin: 0;
}
/*Navigation Slider*/
#slider {
    display: flex;
    overflow: hidden;
    background: #aaa;
    margin: auto;
    text-align: left;
    justify-content: space-between;
    color: black;
    font-size: 22px;
    position: sticky;
    position:-webkit-sticky;
    margin-bottom: 1px;
    top: 0;
    padding-left: 150px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}
/*Liste */
#slider ul{
    margin: auto;
    padding: auto;
    list-style: none;
    list-style-type: none;
}
/*Liste elemente*/
#slider li{
    display: inline;
    padding: 5px 8px;
}
/* Links */
#slider a{
    text-decoration: none;
    color: black;
}
/* Hover */
#slider li:hover {
    background: grey;
    font-style: bolder;
    font-size: 105%;
}
/*Placeholder*/
#placeHolderContainerContent{
    line-height: normal;
    font-size: 800px;
    padding: 10px 20px;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
}
/*Footer*/
#footer{
    background: #aaa;
    font-size: 12px;
}