
/*GENERAL*/
/*Shortcuts for using colors*/
:root{
    --headercolor : #db5c36;
    --linkcolor : #e79177;
    --linkcolorHover: #e96a44;
    --linkcolorVisited : #e7a077;
    --backgroundcolor : #d8d8d8;
    --textcolorBlack : black;
    --textcolorWhite : white;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
}

/*Defines font family for entire site*/
@font-face {
    font-family: 'QuickSand';
    src: url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap);
}

/*NAVBAR*/

.navbar{
    transition: all 3.0s;
}

/*navbar style when scroling down*/
.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0,  0,  0,  0.15);

}

/*Text color of navbar main text*/
  #navbarHeader{
    color: var(--headercolor);
    font-weight: var(--fontWeightBold);
}

/*nav-link general*/
.navbar-custom .navbar-nav .nav-link{
    color:var(--linkcolor);
}

/*nav-links active*/
.navbar-custom .nav-item .nav-link.active{
    color:var(--linkcolor);
    font-weight: var(--fontWeightMedium);
}

/*nav-links visited*/
.navbar-custom .nav-item .nav-link:visited{
  color:var(--linkcolorVisited);
  font-weight: var(--fontWeightMedium);
}

/*nav-links hover inactive*/
.navbar-custom .nav-item:hover .nav-link{
    color:var(--linkcolorHover);
    font-weight: var(--fontWeightMedium);
}

/*nav-links hover active*/
.navbar-custom .nav-item:hover .nav-link.active{
    color:var(--linkcolorHover);
    font-weight: var(--fontWeightBold);
}

/*HEADER*/

/*header color*/
.py-5 .row .col-lg-6 .heading{
  color:var(--headercolor);
  font-weight: var(--fontWeightBold);
}

/*carousel styling*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption{
    font-weight: var(--fontWeightSemiBold);
    font-size:x-large;
    color:var(--headercolor);
  }


/*BODY*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

/*ul*/
.py-5.bg-dark .container ul.offer-list {

}

/*li*/
.py-5.bg-dark .container ul.offer-list li.lead{

}




/*FOOTER*/
/*IG text*/
.bg-dark.py-5 .container.text-light.text-center .mb-3.p-2.instaText{
    color: #ac2bac; 
    font-weight: var(--fontWeightBold); 
  }


/*Changes font size on window resize*/
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

/*TODO: possibly remove, only an issue if background is white*/
@media (max-width:1000px){
  .navbar-toggler{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0,  0,  0,  0.15);
  }
}


